:root {
  --main-font: monospace;

  --even-color: #1818ae;
  --odd-color: #c41eaa;

  --gap-size: 1em;
}

body {
  font-family: var(--main-font);
}

h1,
h2 {
  font-variant: small-caps;
}

#sequence {
  font-family: var(--main-font);

  & > li {
    color: var(--even-color);
    overflow-wrap: anywhere;

    &:nth-child(odd) {
      color: var(--odd-color);
    }

    &::marker {
      font-style: italic;
    }
  }
}

#web-worker-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

#numbers-lengths {
  padding: 0 var(--gap-size);
  color: var(--even-color);

  & > code {
    &:nth-child(odd) {
      color: var(--odd-color);
    }
  }
}

#sequence-length {
  color: var(--even-color);
}
