body {
  font-family: monospace;
}

h1,
h2 {
  font-variant: small-caps;
}

#sequence {
  font-family: monospace;

  & > li {
    color: #1818ae;
    overflow-wrap: anywhere;

    &:nth-child(odd) {
      color: #c41eaa;
    }

    &::marker {
      font-style: italic;
    }
  }
}

#web-worker-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#numbers-lengths {
  padding: 0 1em;
  color: #1818ae;

  & > code {
    &:nth-child(odd) {
      color: #c41eaa;
    }
  }
}

#sequence-length {
  color: #1818ae;
}
